<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewrite for Laravel -->
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>

        <!-- Security settings -->
        <security>
            <requestFiltering>
                <!-- Allow large file uploads (120MB for multiple images) -->
                <requestLimits maxAllowedContentLength="125829120" />
            </requestFiltering>
        </security>

        <!-- Default documents -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="default.aspx" />
                <add value="default.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>

        <!-- Static content -->
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>

    <!-- System.web settings for classic pipeline mode -->
    <system.web>
        <!-- Increase maximum request length (120MB in KB) -->
        <httpRuntime maxRequestLength="122880" executionTimeout="300" />
        <!-- Increase compilation timeout -->
        <compilation tempDirectory="/tmp" debug="false" targetFramework="4.0" />
    </system.web>
</configuration> 